<!DOCTYPE html>
<html>
  <head>
    <title>css-naming-generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/common.css">
  </head>
  <body>
      <h1>CSS Naming Generator</h1>
      <div id="app">
        <!-- 結果 -->
        <p class="naming-result">{{ pref }}{{ text_translate.data }}</p>

        <div class="tabs is-centered is-boxed css-navigator  is-medium">
          <ul>
            <li class="is-active">
              <a href="#smacss">SMACSS</a>
            </li>
            <li>
              <a href="#bem">BEM</a>
            </li>
            <li>
              <a href="#flocss">FLOCSS</a>
            </li>
          </ul>
        </div>

        <!-- 中身 -->
        <div class="input-container">
        <div class="container">
          <div id="">
            <p class="mb10">1. カテゴリを選択してください。</p>
            <div class="columns mb40">
              <div class="column button-radio">
                <input type="radio" id="leyout" name="pref" value="l-" v-model="pref">
                <label class="button is-large wid100" for="leyout">レイアウト</label>
              </div>
              <div class="column button-radio">
                <input type="radio" id="module" name="pref" value=" " v-model="pref">
                <label class="button is-large wid100" for="module">モジュール</label>
              </div>
              <div class="column button-radio">
                <input type="radio" id="status" name="pref" value="is-" v-model="pref">
                <label class="button is-large wid100" for="status">状態</label>
              </div>
              <div class="button-radio">
                <input type="radio" id="none" name="pref" value="" v-model="pref" selected>
              </div>
            </div>
            <!-- 翻訳入力 -->
            <p class="mb10">2. コンテンツ名を日本語で入力してください。</p>
            <div class="field mb40">
              <div class="control">
                <p><input class="input is-large" v-model.lazy="text" ></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
