<!DOCTYPE html>
<html>
  <head>
    <title>css-naming-generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    <h1>CSS Naming Generator</h1>
    <div id="app">
      <input type="radio" id="leyout" name="pref" value="l-" v-model="pref">
      <label for="leyout">レイアウト</label>
      <br>
      <input type="radio" id="module" name="pref" value="" v-model="pref">
      <label for="module">モジュール</label>
      <br>
      <input type="radio" id="status" name="pref" value="is-" v-model="pref">
      <label for="status">状態</label>
      <!-- 翻訳入力 -->
      <p><input v-model.lazy="text" ></p>
      <!-- 結果 -->
      <p>css名 {{pref}}{{ text_translate.data }}</p>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
