body {
  background-color: #FD9297;
  font-family: "Rounded Mplus 1c";
}

h1 {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
}

.css-navigator {
  margin-bottom: 0 !important;
}

.naming-result {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  border-radius: 16px;
  font-size: 48px;
  height: 80px;
  line-height: 80px;
  margin-bottom: 40px;
}

.input-container {
  background-color: white;
  padding-top: 40px;
}

.tabs ul li a {
  color: white !important;
}

.tabs ul .is-active a {
  color: #333 !important;
}

.tabs a:hover {
  background-color: #FEA4A9 !important;
}

.container {
  width: 80%;
  margin-left: 10%;
}

.button-radio input[type="radio"] {
  display:none;
}

.button-radio input[type="radio"]:checked + label {
  background-color: #FD9297;
  color: white;
}

.wid100 {
  width: 100%;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}
